/*global*/ 
body{
    font-family: Arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
a{
    color: white;
    text-decoration: none;
}
/*utility*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 20px;
}
.btn-read{
    background-color: black;
    color:white;
}

.btn-info {
    background-color: #5C3A21; 
    color:white;
}

    /*header*/
header{
    background-image: url(./img/banner.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    text-align: center;
}
.navigation-bar{
    display: flex;
    justify-content: space-around; /*Horizontal*/
    align-items: center; /*Vertical*/
}
/*main*/

.main-flex{
    display: flex;
    justify-content: center;
}
.blog-container{
    width: 70%;
    margin-right: 10%;
}
.course-container{
    width: 30%;
}
.about-bar{
     display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}